@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700&display=swap');

html,body{
    font-family: 'Rubik', sans-serif;
}

a{
    text-decoration: none;
}

#my-nav{
    background-color: #6B0F1A;
}

#tit-nav{
    font-size: xx-large;
}

.bottone-nav{
    text-decoration: none;
    font-size:larger;
    color: white;
}

.bottone-nav:hover{
    color: #c7bdbe;
}

.dropdown-item:hover{
    background-color: #6b0f1a44;
}

.dropdown-item:focus{
    background-color: #6B0F1A;
}

#footer hr{
    color: #6B0F1A;
    opacity: 0.5;
}

#footer-cont{
    margin-bottom: 30px;
    padding: 30px;
}

.fa-github{
    color: black;
}

.fa-github:hover{
    color: rgb(53, 53, 53);
}

#messages {
    background-color: #C4C4C4; 
    height: 400px; overflow: scroll; 
    overflow-x: hidden; 
    overflow-y: visible;
    border-radius: 10px;
    margin-top: 50px;
    line-height: 1.2rem;
}

#inp-message{
    margin-bottom: 50px;
    margin-top: 20px;
}

#tweets{
    margin: 40px;
}

#inp-tweet{
    margin-top: 15px;
}

#tit-e-box{
    margin-top: 30px;
}

#lista-tw{
    border-width: 0px;
    margin-bottom: 10px;
}

.tweet-card{
    box-shadow: 1px 1px 10px 1px #a1a1a1;
    border-radius: 10px;
    padding: 20px;
}

.user-info{
    margin-bottom: 8px;
}

.user-info img{
    width: 60px;
    border-radius: 50%;
}

#user-name{
    align-self: center;
    margin-bottom: 0px;
}

.cont-like{
    display: flex;
    align-items: center;
    margin-left: 10px;
}

.cont-like p{
    margin: 0px;
    margin-left: 7px;
}

.num-like{
    margin-right: 10px;
}

#data p{
    margin: 0px;
}

#comment{
    min-width: 100%;
    height: 250px; 
    resize: none;
}

#save{
    background-color: #6B0F1A;
    border-radius: 12px;
    border-style: hidden;
    padding: 12px 40px;
    
    color: white;
    font-size: 20px;
    margin-bottom: 10px;
    margin-top: 20px;
    transition: 0.3s;
}

#save:hover{
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.3);
}

#send{
    background-color: #6B0F1A;
    border-radius: 12px;
    border-style: hidden;
    padding: 12px;
    width: 100%;
    
    color: white;
    font-size: 20px;
    transition: 0.3s;
}

#send:hover{
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.3);
}

#salva{
    background-color: #6B0F1A;
    border-radius: 12px;
    border-style: hidden;
    padding: 10px 30px;
    
    color: white;
    font-size: 20px;
    margin-bottom: 5px;
    margin-top: 5px;
}

#salva:focus{
    box-shadow: 0 0 0 .25rem #6b0f1a8a;
    border-color: #6B0F1A;
}

#close {
    border-radius: 12px;
    border-style: hidden;
    padding: 10px 40px;
    
    color: white;
    font-size: 20px;
    margin-bottom: 5px;
    margin-top: 5px;
}

#sendTweet{
    background-color: #1DA1F2;
    border-radius: 12px;
    border-style: hidden;
    width: 100%;
    padding: 12px 0px;
    
    color: white;
    font-size: 18px;
    transition: 0.3s;
}

#sendTweet:hover{
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.3);
}

#messages-box{
    background-color: #6e3d43a1; 
    height: 500px; overflow: scroll; 
    overflow-x: hidden; 
    overflow-y: visible;
    border-radius: 10px;
    margin-top: 50px;
}

#messaggio-cont{
    margin: 0px;
}

#mes{
    margin: 20px;
    border-radius: 12px;
    background-color: white;
    width: inherit;
}

#mes-cont{
    position: relative;
    padding: 10px;
    padding-right: 15px;
    padding-bottom: 20px;
    word-wrap: break-word;
}

#mes-cont span{
    font-size: 10px;
    position: absolute;
}


#mes-mio{
    margin: 20px;
    border-radius: 12px;
    background-color: rgb(172, 251, 67);
    max-width: inherit;
}

#messaggio-cont{
    max-width: inherit;
}

#cont-mes{
    max-width: max-content;
}

.form-control:focus{
    box-shadow: 0 0 0 .25rem #6b0f1a8a;
    border-color: #6B0F1A;
}

@media screen and (max-width: 600px) {
    #tit-nav{
        font-size: larger;
    }

    .bottone-nav{
        font-size: medium;
    }

    #footer-cont{
        margin-bottom: 0px;
        padding: 20px;
    }

    #my-modal{
        padding-top: 60px;
        padding-left: 40px;
        padding-right: 40px;
    }

    #tweets{
        margin: 0px;
    }

    #inp-tweet{
        margin-top: 15px;
        margin-left: 10px;
        margin-right: 10px;
    }

    #send{
        font-size: 17px;
    }

    #inp-message{
        margin-bottom: 40px;
        margin-right: 5px;
        margin-left: 5px;
    }

    #tit-e-box{
        margin-right: 5px;
        margin-left: 5px;
    }

    #messages-box{
        height: 400px;
    }

    #alert-tweet{
        margin-left: 10px;
        margin-right: 10px;
    }

    #alert-news{
        margin-left: 10px;
        margin-right: 10px;
    }

    #messaggio-cont{
        font-size: 14px;
    }

    #mes-mio{
        margin: 15px;
    }

    #mes{
        margin: 15px;
    }
    
}

/* Vecchie */

#messageBox { 
    height: 50px; 
    display: block; 
    width: 100%; 
    margin-bottom: 10px; 
    padding: 10px;
    border: 0;
    outline: 0;
    background: transparent;
    border-bottom: 3px solid maroon;
    margin-right: 10px;   
}
#tweetBox {
    margin-left: 1%; 
    height: 50px; 
    display: block; 
    width: 100%; 
    margin-bottom: 10px; 
    padding: 10px;
    border: 0;
    outline: 0;
    background: transparent;
    border-bottom: 3px solid #1DA1F2;
    margin-right: 10px;
}