@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700&display=swap');

html,body{
    font-family: 'Rubik', sans-serif;
}

body {
    font-weight: 400;
    line-height: 1.5;
}

hr{
    margin-top: 20px;
    margin-bottom: 30px
}

#mynav {
    background-color: #6B0F1A;
    width: 100%;
    padding-right: var(--bs-gutter-x,.75rem);
    padding-left: var(--bs-gutter-x,.75rem);
    margin-right: auto;
    margin-left: auto;
}

#tp {
    color: white;
    padding-top: .3125rem;
    padding-bottom: .3125rem;
    margin-right: 1rem;
    font-size: xx-large;
    text-decoration: none;
    white-space: nowrap;
}

#hello-body, #chat, #stories-body {
    margin: auto;
    padding: 10px;
}

#hello,#hellouser {
    font-size: xx-large;
}

#logoutbutton {
    background-color: #ddc912;
    border-radius: 12px;
    border-style: hidden;
    padding: 3px 12px;
    color: #6B0F1A;
    font-size: 20px;
    margin-bottom: 10px;
    margin-top: 20px;
    font-family: 'Rubik', sans-serif;
}

#chatbutton {
    background-color: #6B0F1A;
    border-radius: 12px;
    border-style: hidden;
    padding: 12px 40px;
    color: white;
    font-size: 20px;
    margin-bottom: 10px;
    margin-top: 20px;
    float: right;
    font-family: 'Rubik', sans-serif;
}

li {
    border-width: 0px;
    margin-bottom: 10px;
    box-shadow: 1px 1px 10px 1px #a1a1a1;
    border-radius: 10px;
    padding: 20px;
}

#footer-cont{
    margin-bottom: 30px;
    padding: 30px;
}

.fa-github{
    color: black;
}

.fa-github:hover{
    color: rgb(53, 53, 53);
}
